version: "3"
services:
  prom:
    image: prom/prometheus:v2.8.1
    volumes:
     - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command: "--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --web.enable-lifecycle"
    ports:
     - 9090:9090

